{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">削除フォーム</h1>
        <p class="lead">やることを削除しましょう</p>
      </div>
    </div>
    <div class="container">
        <form action="" method="POST">
        {% csrf_token %}
        <h1>{{ question.title }}</h1>
        <p>{{ question.get_category_display }}</p>
        <p>{{ question.get_level_display }}</p>
        <p>{{ question.content }}</p>
        <p>{{ question.idea }}</p>

        <div class ="image">
          {% if question.image_1 %}
            <img src="{{ question.image_1.url }}" style="width:300px;height:auto">
          {% endif %}
          {% if question.image_2 %}
            <img src="{{ question.image_2.url }}" style="width:300px;height:auto">
          {% endif %}
          {% if question.image_3 %}
            <img src="{{ question.image_3.url }}" style="width:300px;height:auto">
          {% endif %}
          {% if question.image_4 %}
            <img src="{{ question.image_4.url }}" style="width:300px;height:auto">
          {% endif %}
        </div>

        <div class="date">
          {{ question.published_date }}
        </div>

        <p>{{ question.deadline }}</p>
        <p>本当に削除しますか？</p>
        <input type="submit" value="削除">
    </form>
    </div>
    <div class="container">
        <p class="btn-content"><a href="{% url 'question:list' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">一覧に戻る</a></p>
    </div>
{% endblock content %}