{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">詳細</h1>
        <p class="lead">詳細が見れます</p>
      </div>
    </div>
    <div class="container">
        {% comment %} <h1>{{ object.title }}</h1>
        <p>{{ object.category }}</p>
        <p>{{ object.level }}</p>
        <p>{{ object.content }}</p>
        <p>{{ object.idea }}</p> {% endcomment %}

        <div class="post">
        <div class ="image">
        {% if source.image_1 %}
            <img src="{{ source.image_1.url }}" style="width:300px;height:auto">
        {% endif %}
        {% if source.image_2 %}
            <img src="{{ source.image_2.url }}" style="width:300px;height:auto">
        {% endif %}
        {% if source.image_3 %}
            <img src="{{ source.image_3.url }}" style="width:300px;height:auto">
        {% endif %}
        {% if source.image_4 %}
            <img src="{{ source.image_4.url }}" style="width:300px;height:auto">
        {% endif %}
        </div>
            <div class="date">
                {{ source.published_date }}
            </div>
        </div>

        {% comment %} <p>{{ object.deadline }}</p> {% endcomment %}
    </div>

    <hr class="my-4">
    <div>
        {% include 'question/comment.html' %}
    </div>
    
    <div class="container">
        <p class="btn-content"><a href="{% url 'question:list' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">一覧に戻る</a></p>
    </div>
{% endblock content %}