{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'question/css/list.css' %}">
{% endblock header %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">QuestionList</h1>
        <p class="lead">みんなの質問まとめ</p>
    </div>
</div>
<div class="container ">
    <div>
        <p class="new-btn"><a href="{% url 'question:create' %}" class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true">新規作成</a></p>
    </div>
    {% for item in items %}
        <div class="one_box">
            <h1 class="text-center">{{ item.title }}</h1>
            <h4 class="text-center">{{ item.deadline }}</h4>
            <div class="btns text-center">
                <a href="{% url 'question:detail' item.pk %}" class="btn btn-primary"tabindex="-1" role="button" aria-disabled="true">詳細</a>
                <a href="{% url 'question:update' item.pk %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">編集</a>
                <a href="{% url 'question:delete' item.pk %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">削除</a>
            </div>
        </div>
    <hr>
    {% endfor %}
</div>
{% endblock content %}