{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">詳細</h1>
        <p class="lead">詳細が見れます</p>
      </div>
    </div>
    <div class="container">
        <h1>{{ object.title }}</h1>
        <p>{{ object.category }}</p>
        <p>{{ object.level }}</p>
        <p>{{ object.content }}</p>
        <p>{{ object.idea }}</p>
        <img src="{{ object.image_1 }}{{ object.image_1.errors }}">
        <img src="{{ object.image_2 }}{{ object.image_2.errors }}">
        <img src="{{ object.image_3 }}{{ object.image_3.errors }}">
        <img src="{{ object.image_4 }}{{ object.image_4.errors }}">
        <p>{{ object.deadline }}</p>

        <!-- 
        <form action="" method="POST">
          <p><label for="com">コメント</label></p>
          {% csrf_token %}
          <textarea name="text" id="com" cols="30" rows="10"></textarea>
          <button type="submit">投稿</button>
        </form>

        {% for comment in article.comments.all %}<!-- 記事に対するコメントを全件取得
          <p>{{ comment.text }}</br><small>{{ comment.posted_at }}</small></p>
        {% empty %}
        <p>コメントはありません</p>
        {% endfor %}
        -->
        
    </div>

    <div class="container">
        <p class="btn-content"><a href="{% url 'list' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">一覧に戻る</a></p>
    </div>
{% endblock content %}