{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'question/css/list.css' %}">
{% endblock header %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">QuestionList</h1>
        <p class="lead">みんなの質問まとめ</p>
    </div>
</div>
<div class="container ">
    <div>
        <p class="new-btn"><a href="{% url 'create' %}" class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true">新規作成</a></p>
    </div>
    {% for list in object_list %}
        <div class="one_box">
            <h1 class="text-center">{{ list.title }}</h1>
            <img src="{{ list.image_1 }}{{ list.image_1.errors }}" class="mx-auto d-block">
            <img src="{{ object.image_2 }}{{ object.image_2.errors }}" class="mx-auto d-block">
            <img src="{{ object.image_3 }}{{ object.image_3.errors }}" class="mx-auto d-block">
            <img src="{{ object.image_4 }}{{ object.image_4.errors }}" class="mx-auto d-block">
            <h4 class="text-center">{{ list.deadline }}</h4>
            <div class="btns text-center">
                <a href="{% url 'detail' list.pk %}" class="btn btn-primary"tabindex="-1" role="button" aria-disabled="true">詳細</a>
                <a href="{% url 'update' list.pk %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">編集</a>
                <a href="{% url 'delete' list.pk %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">削除</a>
            </div>
        </div>
    <hr>
    {% endfor %}
</div>
{% endblock content %}